body{
    background-color: #FFFFFF;
    
}

#id1{
    background: #808080;
    display: flex;    
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    margin-left: 400px;
    margin-top: 150px;
}

#id2{
    height: 50px;
    padding-top: 0px;
    background: #808080;
}

#id3{
    width: 50px;
    height: 50px;
}
